/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
  background: #2ca5f7;
  padding: 1px;
}


.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* Hero Section */
.hero {
  background: url('https://tse3.mm.bing.net/th/id/OIP.mMG6fMaTnCxHHDAIm_WI1QHaE8?rs=1&pid=ImgDetMain&o=7&rm=3') center/cover no-repeat;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
.hero::after {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.4); /* Oscurece imagen */
}
.hero-content {
  position: relative;
  z-index: 2;
  color: white;
  max-width: 700px;
}
.hero h1 {
  font-size: 40px;
  margin-bottom: 15px;
}
.hero p {
  font-size: 18px;
  margin-bottom: 20px;
}
.btn-pedido {
  background: #1790f0;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}
.btn-pedido:hover {
  background: #117acc;
}

/* Footer */
footer {
  background: #2ca5f7;
  padding: 20px;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.footer-box {
  width: 30%;
  min-width: 200px;
}
.footer-box h4 {
  margin-bottom: 10px;
}
.footer-box ul {
  list-style: none;
}
.footer-box ul li {
  margin-bottom: 5px;
}
.copy {
  text-align: center;
  color: #555;
  font-size: 14px;
}